################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/MultiTef/FileContentIndex/4aec78a6-9d25-484e-8647-cad41178b115.vsidx
